@import "./variables";
@import "./mixins";

button {
  box-shadow: $box-shadow-button !important;
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: $letter-spacing-size;
  @extend .fw-bold;
  font-size: 1rem;

  &.dense {
    height: 32px !important;

    .mat-button-wrapper {
      height: 32px !important;
    }
  }

  &.mat-menu-item {
    box-shadow: none;
  }

  &.mat-accent {
    color: $dark-color-option;
    font-weight: $font-weight-700 !important;
  }

  &.mat-button-disabled {
    background-color: transparent;

    .mat-paginator-icon {
      fill: transparentize($color: $white, $amount: 0.5);
    }
  }

  .mat-button-wrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;

    .mat-icon {
      display: flex;
      align-items: center;
    }
  }

  &.btn-no-shadow {
    box-shadow: none !important;
  }

  &.btn-boxed {
    height: 2.25rem !important;
    border-radius: $border-radius !important;

    &.mat-mini-fab {
      height: 2rem;
      width: 2rem;

      .mat-icon,
      img {
        height: 1.2rem;
        width: 1.2rem;
      }

      .material-icons {
        height: 1.2rem;
        width: 1.2rem;
        font-size: 1.2rem;
      }

      .mat-button-wrapper {
        padding: 0;
        height: 1.2rem;
      }
    }
  }

  &.btn-sml-boxed {
    height: 1.5rem !important;
    border-radius: $border-radius !important;

    &.mat-mini-fab {
      height: 2rem;
      width: 1.5rem;

      .mat-icon,
      img {
        height: 1.2rem;
        width: 1.2rem;
      }

      .material-icons {
        height: 1.2rem;
        width: 1.2rem;
        font-size: 1.2rem;
      }

      .mat-button-wrapper {
        padding: 0;
        height: 1.2rem;
      }
    }
  }

  &.btn-outline {
    border: 2px solid #00549f;
    background: rgba(0, 84, 159, 0.4);
  }

  &.mat-button-disabled {
    color: $white-text !important;
  }

  /**** outline button style ***/
  &.outline-warn {
    background: rgba(255, 68, 68, 0.1) !important;
    border: 2px solid $cancel-color !important;
    color: $cancel-color !important;
    min-width: 100px;
  }

  &.outline-primary {
    border: 2px solid $bg-button-color !important;
    background: rgba(0, 84, 159, 0.4) !important;
    min-width: 100px;
  }

  &.rounded {
    border-radius: 1.3rem !important;
  }
}

.breadcrum-button {
  background-color: transparent !important;
  box-shadow: none !important;
}

/*button[mat-dialog-close] {
  margin-right: 1rem;
}*/


button.cdk-focused {
  &.cdk-program-focused {
    .mat-button-focus-overlay {
      opacity: 0;
    }
  }
}

/***** square button *****/
button.fill-btn {
  min-width: 12rem;
  @include transition(all 0.8s ease 0s);

  &.mat-primary {
    background-color: $button-color-bg;
    margin-left: 1rem !important;
  }

  &.mat-warn {
    background-color: $bg-button-light-red-color;

  }

  @include media-breakpoint-down(sm) {
    min-width: 7rem;
  }
}

.mat-flat-button.mat-accent {
  background-color: $bg-yellow-color;
}

.mat-flat-button.mat-blue {
  background-color: #6294C1;
}

/**** disabled button case *****/
.mat-flat-button.mat-primary.mat-button-disabled,
.mat-mini-fab.mat-primary.mat-button-disabled {
  background-color: $primary-color;
  opacity: .64;
}

.mat-flat-button.mat-accent.mat-button-disabled {
  background-color: $bg-yellow-color;
  opacity: .48;
  color: $dark-color-option !important;
}

.btn-boxed {

  &.boxed-height {
    height: 2rem !important;
  }

}