@font-face {
  font-family: "Montserrat";
  src: url("~src/assets/fonts/Black/Montserrat-Black.woff2") format("woff2"),
    url("~src/assets/fonts/Black/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("~src/assets/fonts/Bold/Montserrat-Bold.woff2") format("woff2"),
    url("~src/assets/fonts/Bold/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("~src/assets/fonts/Light/Montserrat-Light.woff2") format("woff2"),
    url("~src/assets/fonts/Light/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("~src/assets/fonts/Regular/Montserrat-Regular.woff2") format("woff2"),
    url("~src/assets/fonts/Regular/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("~src/assets/fonts/Thin/Montserrat-Thin.woff2") format("woff2"),
    url("~src/assets/fonts/Thin/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("~src/assets/fonts/SemiBold/Montserrat-SemiBold.woff2")
      format("woff2"),
    url("~src/assets/fonts/SemiBold/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
