@import "variables";

.mat-error {
  color: $validation-error-message-color !important;
}

.mat-form-field-subscript-wrapper {
  font-size: $size-12;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: $white-text;
}

.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border-color: $white-text;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-color: $white-text;
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input::placeholder {
  /* Edge */
  color: rgba($color: #000000, $alpha: 0.8) !important;
}

.formfield-control {
  margin-top: 4px;

  &.mat-form-field-appearance-fill {
    .mat-select-arrow-wrapper {
      transform: none;
    }

    .mat-form-field-infix {
      border-top: none;
      padding: 1rem 0;
    }

    .mat-form-field-suffix {
      align-self: center;
    }

    .mat-form-field-flex {
      padding: 0 0.75rem;
    }

    .mat-form-field-underline {
      &:before {
        background-color: $label-color;
        height: 2px;
      }

      .mat-form-field-ripple {
        background-color: $label-color;
      }
    }

    .mat-form-field-label {
      color: $gray-color;
      font-weight: 400;
    }

    .mat-select-value {
      color: $black-color;
    }

    input {
      color: $black-color;
    }

    &.mat-form-field-invalid {
      .mat-form-field-label {
        color: $red-label-color;
      }

      .mat-form-field-ripple {
        background-color: $red-label-color;
      }
    }

    // .mat-select-arrow-wrapper {
    //   .mat-select-arrow {
    //     border-top: 10px solid $modal-dailog-headstrip-color;
    //     border-left: 6px solid transparent;
    //     border-right: 6px solid transparent;
    //   }
    // }
  }

  .mat-form-field-infix {
    border-top: none;
    padding: 1rem 0;
  }

  .mat-form-field-suffix {
    align-self: center;
  }

  .mat-form-field-flex {
    padding: 0 0.75rem;
  }

  .mat-form-field-underline {
    &:before {
      background-color: $label-color;
      height: 2px;
    }

    .mat-form-field-ripple {
      background-color: $label-color;
    }
  }

  .mat-form-field-label-wrapper {
    top: 0.15625em;
  }

  .mat-form-field-label {
    color: $gray-color;
    font-weight: 400;
  }

  .mat-select-value {
    color: $black-color;
  }

  input {
    color: $black-color;
  }

  &.mat-form-field-invalid {
    .mat-form-field-label {
      color: $red-label-color;
    }

    .mat-form-field-ripple {
      background-color: $red-label-color;
    }
  }

  &.mat-form-field-disabled {
    opacity: $opacity-disabled;

    .mat-form-field-flex {
      background: white;
    }
  }
}

.pd-2 {
  padding-left: 1rem;
}

.editplaceholder {
  .disabled {
    opacity: 1 !important;
  }
}

@include media-breakpoint-down(md) {
  .email-error {
    margin-top: 0.8rem !important;
  }

}


/**** Error Message ****/
.error-msg {
  .mat-form-field-underline {
    bottom: 2rem;
  }

  .mat-form-field-wrapper {
    padding-bottom: 2rem;
  }

  .mat-form-field-subscript-wrapper {
    margin-top: 0;
    top: 3.1rem;


    .mat-error {
      text-overflow: inherit;
      white-space: normal;
    }


  }

}

.ServiceProviderForm {
  .mat-form-field-appearance-fill {
    .mat-form-field-label {
      margin-top: 0;
    }
    &.mat-form-field-can-float.mat-form-field-should-float {

      .mat-form-field-label {
        margin-top: -0.3rem;
      }
    }

  }

}
