@import "variables";

.small-tags {
  .small-tag {
    height: 1.5rem !important;
    border-radius: $border-radius;
    &.mat-list-item {
      padding: 0;
      font-size: 0.7rem;
      width: auto;
      .mat-list-item-content {
        padding: 0 0.5rem;
        text-transform: uppercase;
      }
    }
  }
}

.zoom-taglist {
  .mat-list-item {
      cursor: text;
  }
}

